# ðŸŽ¯ Feature Creation 
- Boosting Model Power with Smart Features!

Feature Creation is the art of generating new variables (features) from the existing data to enhance a modelâ€™s predictive performance

In [16]:
# DATA LOADING:
import pandas as pd
DATA=pd.read_csv(r"C:\Users\Nagesh Agrawal\OneDrive\Desktop\EDA\DATA\corrected_data_type.csv")

In [17]:
DATA

,Order_ID,Order_Date,Quantity,Discount,Sales,Postal_Code,Product_ID,Is_Returned,Customer_Age,Region
0,1001,2022-01-10,5,0.10,500.75,560001,P-001,Yes,29.0,South
1,1002,2022-01-12,3,0.05,450.00,110001,P-002,No,34.0,North
2,1003,2022-01-13,2,0.00,350.00,700014,P-003,yes,45.0,East
3,1004,2022-01-15,4,0.20,450.00,500081,P-004,NO,30.0,West
4,1005,2022-01-18,3,NaN,480.50,560002,P-005,Yes,28.0,South
5,1006,2022-01-20,6,0.15,600.00,110002,P-006,no,32.0,North
6,1007,2022-01-22,5,0.05,500.00,700015,P-007,YES,NaN,East
7,1008,2022-01-24,4,0.10,550.25,500082,P-008,nO,37.0,West
8,1009,2022-01-25,5,0.00,475.00,560003,P-009,Yes,31.0,South
9,1010,NaN,6,0.10,NaN,110003,P-010,No,35.0,North
10,1011,2022-01-27,7,0.20,610.00,700016,P-011,Yes,40.0,East
11,1012,2022-01-29,3,0.05,490.00,500083,P-012,NO,32.0,West
12,1013,2022-01-30,2,0.10,420.00,560004,P-013,yes,NaN,South
13,1014,2022-01-31,3,0.10,410.00,110004,P-014,no,36.0,North
14,1015,2022-02-01,4,0.05,500.00,700017,P-015,Yes,33.0,East

### TO CALCULATE HOW MUCH THE DISCOUNT AMOUNT IS??
DISCOUNT AMOUNT = DISCOUNT PERCENTAGE/100 * AMOUNT

In [18]:
# BUT THE DISCOUNT VALUES IS ALREADY DIVIDED BY 100
# DATA["DISCOUNT_AMOUNT"]=DATA["Discount"]*DATA["Sales"]
DATA.insert(5, "DISCOUNT_AMOUNT", DATA["Discount"] * DATA["Sales"])

In [19]:
DATA

,Order_ID,Order_Date,Quantity,Discount,Sales,DISCOUNT_AMOUNT,Postal_Code,Product_ID,Is_Returned,Customer_Age,Region
0,1001,2022-01-10,5,0.10,500.75,50.075,560001,P-001,Yes,29.0,South
1,1002,2022-01-12,3,0.05,450.00,22.500,110001,P-002,No,34.0,North
2,1003,2022-01-13,2,0.00,350.00,0.000,700014,P-003,yes,45.0,East
3,1004,2022-01-15,4,0.20,450.00,90.000,500081,P-004,NO,30.0,West
4,1005,2022-01-18,3,NaN,480.50,NaN,560002,P-005,Yes,28.0,South
5,1006,2022-01-20,6,0.15,600.00,90.000,110002,P-006,no,32.0,North
6,1007,2022-01-22,5,0.05,500.00,25.000,700015,P-007,YES,NaN,East
7,1008,2022-01-24,4,0.10,550.25,55.025,500082,P-008,nO,37.0,West
8,1009,2022-01-25,5,0.00,475.00,0.000,560003,P-009,Yes,31.0,South
9,1010,NaN,6,0.10,NaN,NaN,110003,P-010,No,35.0,North
10,1011,2022-01-27,7,0.20,610.00,122.000,700016,P-011,Yes,40.0,East
11,1012,2022-01-29,3,0.05,490.00,24.500,500083,P-012,NO,32.0,West
12,1013,2022-01-30,2,0.10,420.00,42.000,560004,P-013,yes,NaN,South
13,1014,2022-01-31,3,0.10,410.00,41.000,110004,P-014,no,36.0,North
14,1015,2022-02-01,4,0.05,500.00,25.000,700017,P-015,Yes,33.0,East